.DS_Store
node_modules
.env
/.svelte-kit
/build
/functions

cypress/screenshots/
__sapper__/
.env
.sessions
static/svelte-app.json
static/contributors.jpg
static/workers
scripts/svelte-app
scripts/community
src/routes/_contributors.js