/*!
 * Agate by Taufik Nurrohman <https://github.com/taufik-nurrohman>
 * ---------------------------------------------------------------
 *
 * #ade5fc
 * #a2fca2
 * #c6b4f0
 * #d36363
 * #fcc28c
 * #fc9b9b
 * #ffa
 * #fff
 * #333
 * #62c8f3
 * #888
 *
 */

.code-block pre {
	padding: 1rem;
	margin: 0 0 1rem 0;
}

.token.tag,
.token.attr-value .attr-equals {
	color: #62c8f3;
}

.token.string,
.token.interpolation-punctuation,
.token.attr-value,
.token.inserted {
	color: #a2fca2;
}

.token.builtin,
.token.function {
	color: #ffa;
}

.token.keyword,
.token.boolean {
	color: #fcc28c;
}

.token.comment {
	color: #888;
}

.token.deleted {
	/* background-color: #fc9b9b;
				color: #333; */
	color: #fc9b9b;
}
