name: 'Deploy docs'

on:
  workflow_dispatch:
    inputs:
      repo:
        description: 'the target repo for the docs'
        required: true
      branch:
        description: 'the branch for the docs we want to publish'
        required: true
      docs_path:
        description: 'the path to your root documentation (without a leading slash)'
        required: false
        default: 'documentation'
      pkg_path:
        description: 'the path to your packages in a monorepo (without a leading slash)'
        required: false
        default: 'packages'

jobs:
  publish_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: publish
        id: projects
        uses: sveltejs/action-deploy-docs@main
        with:
          repo: ${{github.event.inputs.repo}}
          branch: ${{github.event.inputs.branch}}
          docs_path: ${{github.event.inputs.docs_path}}
          pkg_path: ${{github.event.inputs.pkg_path}}
          cf_token: ${{ secrets.CLOUDFLARE_TOKEN_API_KV }}
